{% load static %}
{% load crispy_forms_tags %}
{% load wdp_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/comments.css' %}">

<!-- FIXME(PAOLO): correct endpoint (/username/solarsystem/planet) -->
<div id="comment-container" class="card container-fluid ml-0">
    {% if comment_form %}
        <!-- User is logged in, show comment form
             NOTE: A blank action signifies "submit to this same URL" -->
        <form id="comment-form" method="POST" novalidate action="">
            <!-- Note: layout is defined in forms.py, when setting up CommentForm.helper -->
            {% crispy comment_form %}
        </form>
    {% else %}
        <strong>Please log in to leave a rating</strong>
        <br>
    {% endif %}

    {% for comment in comments %}
        <div class="card">
            <div class="card-body row align-items-center">

                <div class="col-3 d-flex align-items-center">
                    <a href="{% url 'view_user' comment.user.username %}">
                        {% if user.avatar %}
                            <img src="{{ comment.user.avatar.url }}" alt="{{ comment.user.username }}'s avatar"
                                class="img-thumbnail user-avatar">
                        {% else %}
                            <i class="fas fa-user-astronaut text-primary user-avatar"></i>
                        {% endif %}
                        <strong class="user-name">{{ comment.user.username }}</strong>
                    </a>
                </div>

                <div class="col-2">
                    {{ comment.rating|star_rating }}
                </div>

                <div class="col-7">
                    {{ comment.comment }}
                </div>

            </div>
        </div>
    {% endfor %}
</div>
