{% load static %}

<div id="editor-container" class="mh-100">
    <div id="spinner" class="spinner-grow text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <!-- editor.js will insert the WebGL canvas here -->
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js'></script>
<script type="text/javascript" src="{% static 'js/OrbitControls.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>