{% extends 'planet/logintemplate.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
<h3>Edit {{ request.user.username }}</h3>

{% endblock header %}

{% block body %}
<form method="post" novalidate class="needs-validation" id="edit-user-form"
    action="{% url 'edit_user' request.user.username %}" enctype="multipart/form-data">
    {% crispy user_form %}
</form>

{% endblock body %} 

{% block footer %}
<a href="{% url 'view_user' request.user.username %}" class="btn btn-primary"> My account </a>

{% endblock footer %}