{% load static %}

<div id="editor-container" class="mh-100 text-center">
    <!-- editor.js will remove spinner when done loading -->
    <div id="spinner" class="spinner-grow text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <!-- (initial-texture is hidden) -->
    <img id="initial-texture" src="{{ MEDIA_URL }}{{ planet.texture }}"/>

    <div id="controls">
        <div id="toolbar">
            <input id="brush-color-picker"/>
            <input id="brush-size-picker" type="number"/>
        </div>
        <div id="savebar" class="btn-group">
            <a class="btn btn-warning" href="{% url 'view_planet' planet.solarSystem.user.username planet.solarSystem.name planet.name %}">Done editing</a>
            <button id="save" class="btn btn-primary" onclick="onSave()">Save</button>
            <button id="reset" class="btn btn-danger" onclick="onReset()">Reset</button>
        </div>
    </div>

    <div id="info" class="text-light">
        <a href="{% url 'view_planet' planet.solarSystem.user.username planet.solarSystem.name planet.name %}">
            <strong>{{ planet.name }}</strong>
        </a>
        <br>
        Created by <a href="{% url 'view_user' planet.user.username %}">{{ planet.user.username }}</a>
    </div>

    <!-- editor.js will append the THREE.js WebGL canvas here -->
</div>

<div id="alertbar">
    <!-- editor.js will append alerts here when needed -->
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/editor.css' %}"></script>

<link rel="stylesheet" href="https://unpkg.com/huebee@2/dist/huebee.min.css">
<script src="https://unpkg.com/huebee@2/dist/huebee.pkgd.min.js"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js'></script>
<script type="text/javascript" src="{% static 'js/OrbitControls.js' %}"></script>

<!-- NOTE: Some parameters may need to be set; defined `var editor = {}, brush = {}`.
     See editor.js -->
<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>
