<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'home' %}" target="_blank">
            <strong id="brand1">WDP<span id="brand2">?</span></strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="menu">
            <div class="adder"></div>
            <form class="form-inline md-form my-0 active-cyan-2 flex-grow-1" action="{% url 'search' %}" method="get">
                <input class="form-control ml-3 flex-grow-1 text-white" name="query" type="text" placeholder="Search" aria-label="Search">
                <button class="search-btn btn btn-dark" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons ">
                {% if user.is_authenticated %}
                    {% if user.avatar %}
                        <li class="nav-item my-1 pt-1 align-self-center">
                            <a href="{% url 'view_user' user.username %}">
                                <img src="{{ user.avatar.url }}" class="img-fluid" width="45">
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'view_user' user.username %}">
                                <i class="fas fa-user-astronaut fa-2x mx-4 my-2 pt-1" id="astronaut"></i>
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="btn btn-dark" role="button">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <i class="fas fa-user-astronaut fa-2x mx-4 my-2 pt-1 text-light" id="astronaut"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="btn btn-dark" role="button">Login</a>
                        <a href="{% url 'register' %}" class="btn btn-dark" role="button">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>