{% extends 'planet/base.html' %}

{% load staticfiles %}
{% block splashscreen %}

<div id="splash" class="view">
    <!-- Mask & flexbox options-->
    <div class="mask d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container-fluid">
            <!--Grid row-->
            {% if not user.is_authenticated %}
            <div class="text-center white-text">
                <h1 class="display-4 font-weight-bold">Create yours<br>now!</h1>
                <a href="{% url 'register' %}" class="btn btn-elegant btn-lg waves-effect" usage="button">Register</a>
            </div>
            {% else %}
            <div class="text-center white-text">
                <a href="{% url 'create_system' user.username %}" class="btn btn-elegant btn-lg waves-effect" usage="button">Create a Solar System</a>
            </div>
            {% endif %}
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>

    <!-- Content -->
    <script type="text/javascript">
        var planetEditor = {};
        planetEditor.editingEnabled = false;
        planetEditor.camControlsEnabled = false;
        planetEditor.spinSpeed = 0.25;
    </script>

    </script>
    {% include 'planet/editor.html' %}
</div>


{% endblock splashscreen %}

