<!DOCTYPE html>
{% extends 'planet/base.html' %}

{% load staticfiles %}

{% block content_block %}
    <p>
    There is some text There
    </p>
    <div class="text-center">
        <img class="img-responsive" src="{% static "images/solar-system.jpg" %}"  alt="Picture of the Solar System" style="max-width: 100%"/>
    </div>
    <div class="text-center">
        <img class="img-responsive" src="{% static "images/solar-system.jpg" %}"  alt="Picture of the Solar System" style="max-width: 100%"/>
    </div><div class="text-center">
        <img class="img-responsive" src="{% static "images/solar-system.jpg" %}"  alt="Picture of the Solar System" style="max-width: 100%"/>
    </div><div class="text-center">
        <img class="img-responsive" src="{% static "images/solar-system.jpg" %}"  alt="Picture of the Solar System" style="max-width: 100%"/>
    </div><div class="text-center">
        <img class="img-responsive" src="{% static "images/solar-system.jpg" %}"  alt="Picture of the Solar System" style="max-width: 100%"/>
    </div>
{% endblock content_block %}