{% extends 'planet/base.html' %}
{% load crispy_forms_tags %}
{% block padded_content_block %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#planets" role="tab" aria-controls="planet" aria-selected="true">Planet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#solar_systems" role="tab" aria-controls="solar_systems"
            aria-selected="false">Solar Systems</a>
    </li>
</ul>
<form method="post">
    {% csrf_token %}
    <div class="d-flex">
        <div class="flex-grow-1 align-self-center">
            {{ form.choice|as_crispy_field }}
        </div>
        <div class="align-self-end pb-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
<div class="tab-content">

<div class="tab-pane fade show active" id="planets" role="tabpanel" aria-labelledby="planets">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    Planet Name
                </div>
                <div class="col-3">
                    Owner
                </div>
                <div class="col-3">
                    Solar System
                </div>
                <div class="col-3">
                    Score
                </div>
            </div>
        </div>
    </div>
    <br>
    {% include 'planet/planettemplate.html' %}
</div>
<div class="tab-pane fade" id='solar_systems' role="tabpanel" aria-labelledby="solar_system">
<div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    Solar-System
                </div>
                <div class="col-4">
                    Solar-System name
                </div>
                <div class="col-4">
                    Score
                </div>
            </div>
        </div>
    </div>
    <br>
    {% include 'planet/solartemplate.html' %}
</div>

</div>
{% endblock %}