{% extends 'planet/logintemplate.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
<h3>Login</h3>
{% endblock header %}

{% block body %}
<form method="post" novalidate class="needs-validation" id="login-form" action="/login/">
    {% crispy user_form %}
</form>
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endblock body %}
{% block footer %}
    Don't Have an account : </br>
    <div class="buttonHolder"> 
    <a href="{% url 'register' %}" class="btn btn-primary" role="button">Register</a>
    </div>
{% endblock footer %}