{% extends 'planet/base.html' %}
{% load staticfiles %}

{% block padded_content_block %}
<div class="text-light">
    Account name : {{username.username}} </br>
    Email : {{username.email}}
    {% if username.avatar %}
        </br><img src="{{ user.avatar.url }}" class="img-fluid" width="200">
    {% endif %}
    {% if username.username == user.username %}
        <br><a href="{% url 'edit_user' user %}" class="btn btn-dark" role="button">Edit</a>
    {% endif %}
</div>
<br>
<div class="card">
    <div class="card-body d-flex justify-content-start">
        Planet List
    </div>
</div>
<br>
{% include planet/planettemplate.html %}
<br>
<div class="card">
    <div class="card-body d-flex justify-content-start">
        Solar System list
    </div>
</div>
<br>
{% include planet/solartemplate.html %}
{% endblock padded_content_block %}