{% extends 'planet/base.html' %}
{% load static %}

{% block title_block %}
    {{ planet.name }}
{% endblock %}

{% block body_block %}
    <script type="text/javascript">
        var planetEditor = {};
        planetEditor.editingEnabled = false;
        planetEditor.camControlsEnabled = true;
        planetEditor.spinSpeed = 0.0;
    </script>

    {% include 'planet/editor.html' %}

    {% if request.user == planet.user %}
    <a href="{% url 'edit_planet' planet.solarSystem.user.username planet.solarSystem.name planet.name %}"
       id="edit-btn" class="btn btn-primary">
        Edit
    </a>
    {% endif %}

    {% include 'planet/comments.html' %}
{% endblock %}
