<!DOCTYPE html>
{% extends 'planet/base.html' %}
{% load staticfiles %}


{% block title_block %}
{{ system.name }}
{% endblock %}

{% block padded_content_block %}
<div class="card">
    <div class="card-body">
        <h1>{{system.name}}</h1>
        <br>
        <div class="row">
            {% if system.user.avatar %}
                <div class="col-lg-4 justify-content-center d-flex align-items-center ">
                    </br><img src="{{ system.user.avatar.url }}" class="img-responsive collapse-content" width="200">
                </div>
                {% if user.is_authenticated %}
                    <div class="col-lg-6 col-md-10">
                {% else %}
                    <div class="col-8 col-md-12">
                {% endif %}
            {% elif user.is_authenticated%}
                <div class="col-10">
            {% else %}
                <div class="col-12">
            {% endif %}
                <div class="row">
                    <div class='col-4'>
                        <div class="row d-flex align-items-center justify-content-center">
                            <h4>Owner : </h4>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center">
                            <a href="{% url 'view_user' system.user %}">{{system.user}}</a></h4>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row d-flex align-items-center justify-content-center">
                            <h4>Description : </h4>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center flex-wrap">
                            {{system.description}}
                        </div>
                    </div>
                </div>
                
            </div>
            {% if user.is_authenticated %}
                <div class="col-2">
                    {% if system.user == user %}
                        <a href="{% url 'delete_system' system.user.username system.name %}"
                        class="btn btn-danger">Delete system</a>
                    {% endif %}
                    <a href="{% url 'create_planet' system.user.username system.name%}" class="btn btn-primary flex-wrap" role="button">Create planet</a>
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    </div>
    <br>
    {% include 'planet/planettemplate.html' %}
{% endblock padded_content_block %}
