<!DOCTYPE html>
{% extends 'planet/base.html' %}
{% load staticfiles %}


{% block title_block %}
    {{ system.name }}
{% endblock %}

{% block padded_content_block %}
    <div class="card">
        <h2>{{system.name}}</h2>
        Owner : <a href="{% url 'view_user' system.user %}">{{system.user}}</a>
        Description : {{system.description}} </br>
        Planets: </br>
          {% if planets %}
            {% for planet in planets %}
              {% if planet.name %}
                <a href="{% url 'view_planet' system.user.username system.name planet.name %}">{{planet.name}}</a>
              {% endif %}
            {% endfor %}
          {% endif %}

    </div>
{% endblock padded_content_block %}
