{% extends 'planet/base.html' %}
{% load static %}

{% block title_block %}
    {{ planet.name }}
{% endblock %}

{% block body_block %}
    <script type="text/javascript">
        var planetEditor = {};
        planetEditor.editingEnabled = false;
        planetEditor.camControlsEnabled = true;
        planetEditor.spinSpeed = 0.0;
    </script>

    {% include 'planet/editor.html' %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/sharingbuttons.css' %}">
    <div class="card text-light bg-dark leftpadder">
        {% if request.user == planet.user %}
        <form method="POST" action="{% url 'delete_planet' user.username planet.solarSystem.name planet.name %}">
            {% csrf_token %}    
            <input type="submit" value="delete" class="btn btn-danger">
        </form>        
        {% include 'planet/sharingbuttons.html' %}
        <a id="edit-btn" class="btn btn-primary"
           href="{% url 'edit_planet' planet.solarSystem.user.username planet.solarSystem.name planet.name %}">
            Edit
        </a>
        {% endif %}
    </div>

    {% include 'planet/comments.html' %}

{% endblock %}
