{% extends 'planet/base.html' %}
{% load static %}

{% block title_block %}
    {{ planet.name }}
{% endblock %}

{% block body_block %}
    <script type="text/javascript">
        var planetEditor = {};
        planetEditor.editingEnabled = false;
        planetEditor.camControlsEnabled = true;
        planetEditor.spinSpeed = 0.0;
    </script>

    {% include 'planet/editor.html' %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/sharingbuttons.css' %}">
    <div class="card text-light bg-dark leftpadder">
        {% include 'planet/sharingbuttons.html' %}

        {% if request.user == planet.user %}
            <div class="btn-group">
                <a id="edit-btn" class="btn btn-primary col-10"
                href="{% url 'edit_planet' planet.solarSystem.user.username planet.solarSystem.name planet.name %}">
                    Edit planet
                </a>
                <a id="delete-btn" href="{% url 'delete_planet' planet.solarSystem.user.username planet.solarSystem.name planet.name %}"
                class="btn btn-danger col-2">
                    Delete planet
                </a>
            </div>
            {% if not planet.visibility %}
                <div class="card bg-secondary">
                    <div class="card-body text-center text-light">
                        <i class="fas fa-eye-slash"></i> This planet is private, only you can see it
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    {% include 'planet/comments.html' %}

{% endblock %}
