#searchbar {
    color: white;
}

#astronaut {
    color: #339af0;
}

.view {
    background-image: url('../images/solar-system.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.sidebar-container {
    z-index: 5;
    padding-top: 84px;
    padding-left: 20px; 
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, .3);
    color: #fff;
}

.main-screen {
    padding-left: 220px;
}


@media (max-width: 992px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
    }
    .main-screen{
        padding-left: 0px;
    }
}